/* CSS Reset */


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Fonts */

@font-face {
    font-family: 'TrixieCyr';
    src: url('../fonts/TrixieCyr-Plain.woff2') format('woff2'),
        url('../fonts/TrixieCyr-Plain.woff') format('woff'),
        url('../fonts/TrixieCyr-Plain.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Franklin Gothic Medium Cond';
    src: url('../fonts/FranklinGothic-MediumCond.woff2') format('woff2'),
        url('../fonts/FranklinGothic-MediumCond.woff') format('woff'),
        url('../fonts/FranklinGothic-MediumCond.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fixedsys Excelsior 3.01';
    src: url('../fonts/FixedsysExcelsior.woff2') format('woff2'),
        url('../fonts/FixedsysExcelsior.woff') format('woff'),
        url('../fonts/FixedsysExcelsior.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Page structure */

html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
.footer {
    flex: 0 0 auto;
    text-align: right;
}


/* Bg variations */

body.body-intro { 
    background: #636363 url(../img/bg-city-01.jpg) no-repeat center center fixed;
    background-size: cover;
  
}

body.body-game {
    background: #636363 url(../img/bg-city-02.jpg) no-repeat center center fixed;
    background-size: cover;
    
}


/* Header for index.html */


.header {
    width: 100%;
    height: 200px;
    background: rgba(255,255,255,0.65);
    
}

.header__line {
    border: 0;
    border-top: 2px solid #000;
}
.header__line_mt {
    margin-top: 40px;
}
.header__title {
    color: #003366;
    font-family: 'TrixieCyr';
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 4px;
}

.header__subtitle {
    color: #000;
    font-family: 'TrixieCyr';
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: normal;
    
}

/* Game page */

/*  Game page - Header */


.header2 {
    width:100%;
    margin-top: 30px;
    background: rgba(255,255,255,0.75);
    height: 60px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.header2-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Fixedsys Excelsior 3.01';
    height: 60px;
}

.header2-container-item {
    text-align: center;
    flex: 1;
    font-size: 30px;
}

.header2-container-item-value {
    color: #003366;
    
}

/*  Game page - Informer */

.informer {    
    width: inherit;
    background: rgba(0,0,0,0.75);
    flex: auto;
    margin: 50px;
    border-radius: 20px;
    border: 2px solid #FFF; 
    padding: 30px;
    overflow-y: auto;
}
.informer__msg {
    font-family: 'TrixieCyr';
    font-size: 30px;
    
}

.informer__msg_comp {
    text-align: right;
    
}

.informer__msg_admin {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;    
    font-size: 22px;
}

.informer__msg_info {
    color: #73DCFF;
    font-weight: normal;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    
}

.informer__msg_data {
    font-style: normal;
    color: #FFF;
    font-weight: normal;
    
}




/*  Game page - Footer, Input */

.footer2 {
    display: flex;
    align-items: baseline;
    border: none;
    
}
.footer2-input {
    height: 55px;
    width: 100%;
    flex: 1;
    margin: 5px 50px auto;
    border: 2px solid #000;
    border-radius: 15px;
    font-family: 'TrixieCyr';
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    text-indent: 30px;
    background: #EEE;
    
    
}


/* Button */

.button {
    display: inline-block;
    line-height: 55px;
    font-family: 'Franklin Gothic Medium Cond';
    color: #FFF;
    font-size: 28px; 
    border: 1px solid #FFF;
    border-radius: 12px;
    background: linear-gradient(45deg, #1F1F1F, #434343);
    padding: 0 15px;
    letter-spacing: 2px;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    color: #73DCFF;
    border: 1px solid #73DCFF;
}
.button_cap {
    text-transform: uppercase;
}
.button_right {
    margin: 5px 50px 50px 0;
    
}